.curso{
    list-style-type: none;
    padding: 5px;
    border: 1px solid black;
    margin: 8px;
    
}

.amarillo{
    color: yellow;
}
.rojo{
    color: red;
}
.blanco{
    color: white;
}
a{
    color:inherit;
}