<app-header></app-header>

<div class="container-fluid">
    ID Curso:{{Curso.id}} <br>
    Nombre Curso: {{Curso.nombreCurso}} <br>
    Promedio curso {{Curso.promedio}} <br>
    Nota 1: {{DetalleCurso.nota1}} <br>
    Nota 2: {{DetalleCurso.nota2}} <br>
    Nota 3: {{DetalleCurso.nota3}} <br>
    Nota 4: {{DetalleCurso.nota4}} <br>
    Nota 5: {{DetalleCurso.nota5}} <br>
    Porcentaje 1 : {{DetalleCurso.porcentaje1}} <br>
    Porcentaje 2 : {{DetalleCurso.porcentaje2}} <br>
    Porcentaje 3 : {{DetalleCurso.porcentaje3}} <br>
    Porcentaje 4 : {{DetalleCurso.porcentaje4}} <br>
    Porcentaje 5 : {{DetalleCurso.porcentaje5}} <br>

    <button>Editar</button>
</div>